<div class="container" *ngIf="outlet.isActivated == false">
    <div class="row">
        <div class="col-xl-12 text-center">
            <h1><u>Employee List</u></h1>
        </div>
    </div>
    <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-12 text-center">
            <p *ngIf="listEmpData.length < 1 && !isLoading">No Employee List available!</p>
            <ul class="list-group" *ngIf="listEmpData.length >= 1 && !isLoading">
                <li class="list-group-item" *ngFor="let list of listEmpData">
                    <img [src]="list.profile" alt="Employee Profile Pic" style="width:200px; height: 200px;"><br><br>
                    <h5 style="cursor: pointer;" (click)="onClickEmployeeName(list)">{{ list.employeeName }}</h5>
                    <p>{{ list.designation }}</p>
                    <p>{{ list.description }}</p>
                </li>
            </ul>
            <p *ngIf="isLoading && !error"></p>
            <div class="alert alert-danger" *ngIf="error">
                <h1>An Error Occurred!</h1>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xl-12 text-right" *ngIf="!isLoading">
            <a routerLink="/" skipLocationChange (click)="backToEmployeeForm()"><svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>Back to Employee Form</a>
        </div>
    </div>
</div>

<div class="container">
    <router-outlet #outlet="outlet"></router-outlet>
</div>