<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center">
            <h1><u>Employee Form</u></h1>
        </div>
    </div>
    <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="container">
        <form class="form" [formGroup]="employeeForm" (ngSubmit)="onAddEmployee(employeeForm.value)" *ngIf="!isLoading">
            <div class="row">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="employeeName"><b>Employee Name</b></label><br>
                        <input type="text" id="employeeName" formControlName="employeeName" class="form-control">
                        <span
                            *ngIf="!employeeForm.get('employeeName').valid && employeeForm.get('employeeName').touched"
                            class="help-block">
                            <span *ngIf="employeeForm.get('employeeName').errors['required']">This field is
                                required!</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="emailID"><b>Email ID</b></label><br>
                        <input type="text" id="emailID" class="form-control" formControlName="emailID">
                        <span *ngIf="!employeeForm.get('emailID').valid && employeeForm.get('emailID').touched"
                            class="help-block">Please enter a valid email ID!</span>
                    </div>
                    <div class="form-group">
                        <label for="phoneNo"><b>Phone No</b></label><br>
                        <input type="text" id="phoneNo" class="form-control" formControlName="phoneNo">
                        <span *ngIf="!employeeForm.get('phoneNo').valid && employeeForm.get('phoneNo').touched"
                            class="help-block">Please enter a 10 digit Phone No!</span>
                    </div>

                    <div class="form-group">
                        <label for="img"><b>Upload Photo</b></label><br>
                        <input type="file" (change)="onFileSelected($event)" id="img" class="form-control"
                            formControlName="uploadImage">
                        <span *ngIf="!employeeForm.get('uploadImage').valid && employeeForm.get('uploadImage').touched"
                            class="help-block">
                            <span *ngIf="employeeForm.get('uploadImage').errors['required']">This field is
                                required!</span>
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="designation"><b>Designation</b></label><br>
                        <input type="text" id="designation" class="form-control" formControlName="designation">
                        <span *ngIf="!employeeForm.get('description').valid && employeeForm.get('description').touched"
                            class="help-block">
                            <span *ngIf="employeeForm.get('description').errors['required']">This field is
                                required!</span>
                        </span>
                    </div>
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label><b>Gender</b></label>
                            </div>
                            <div class="form-check-inline" *ngFor="let gender of genders">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" formControlName="gender"
                                        [value]="gender">{{ gender }}
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label><b>Marital Status</b></label>
                            </div>
                            <div class="form-check-inline" *ngFor="let status of maritalStatus">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" formControlName="maritalStatus"
                                        [value]="status">{{ status }}
                                </label>
                            </div>
                        </div>

                    </div>

                </div>

                <br>

                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="currentLocation"><b>Current location(Latitude/longitude)</b></label>&nbsp;&nbsp;
                        <label for="currentLocation" class="currentLocationButton" (click)="getLocation()">Fetch Current
                            Location(lat/long)</label>
                        <div style="margin-top: 20px;">
                            <input type="text" id="currentLocation" class="form-control" formControlName="latitude"
                                [value]="latitude">
                        </div>
                        <div style="margin-top: 20px;">
                            <input type="text" id="currentLocation" class="form-control" formControlName="longitude"
                                [value]="longitude">
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="currentAddress"><b>Address</b></label><br>
                        <input type="text" id="currentAddress" class="form-control" formControlName="address"
                            [value]="address">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="description"><b>Description</b></label>
                        <textarea name="description" id="description" cols="20" rows="5" class="form-control"
                            formControlName="description"></textarea>
                        <span *ngIf="!employeeForm.get('description').valid && employeeForm.get('description').touched"
                            class="help-block">
                            <span *ngIf="employeeForm.get('description').errors['required']">This field is
                                required!</span>
                        </span>
                    </div>
                </div>

                <div class="col-xl-12 text-center">
                    <button class="btn btn-outline-secondary" type="submit"
                        [disabled]="!employeeForm.valid">Submit</button>&nbsp;&nbsp;
                    <button class="btn btn-outline-secondary" type="button" (click)="onFetchEmployee()">Fetch
                        Employee</button>
                </div>
            </div>
        </form>
    </div>
</div>