.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  border-radius: 50%;
}

.currentLocationButton {
  /* margin-left: 130px; */
  padding: 10px;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.currentLocationButton:hover {
  background-color: lightsteelblue;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
