.header {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightsteelblue;
  border-radius: 5px 5px 0 0;
}

.font-style {
  font-weight: bold;
}

.background {
  background-color: whitesmoke;
}

agm-map {
  height: 200px;
}
