<!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC0_lSMC4WVhB9TA6woLEHWhj7BdJYgtyE"></script> -->
<div class="container">
    <div class="row">
        <div class="col-xl-12 text-center">
            <h1><u>Employee Details</u></h1>
        </div>
    </div>
    <div *ngIf="isLoading" style="text-align: center; margin: auto; padding: 25%;">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <br>
    <div *ngIf="!isLoading">
        <div class="container">
            <div class="row">
                <div class="col-12 header">
                    <span class="font-style">Employee Details</span>
                </div>
            </div>

            <div class="row background">

                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">
                            <div class="card" style="width:400px">
                                <img class="card-img-top" [src]="imagePath" alt="Employee Image" style="width:100%">
                            </div>
                        </span>
                    </div>
                </div>

                <div class="col-12 col-lg-6 d-flex flex-column">
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Employee Name</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ employeeDetailsData.employeeName ? employeeDetailsData.employeeName : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Email ID</span>
                        <span class="col-6 d-flex flex-column mt-3 mb-2">
                            <p>{{ employeeDetailsData.emailID ? employeeDetailsData.emailID : '-' }}</p>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Phone No</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ employeeDetailsData.phoneNo ? employeeDetailsData.phoneNo : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Designation</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ employeeDetailsData.designation ? employeeDetailsData.designation : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Gender</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ employeeDetailsData.gender ? employeeDetailsData.gender : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Marital Status</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ employeeDetailsData.maritalStatus ? employeeDetailsData.maritalStatus : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Address</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ employeeDetailsData.address ? employeeDetailsData.address : '-' }}</span>
                    </div>
                    <div class="row">
                        <span class="col-6 d-flex flex-column mt-3 mb-2">Description</span>
                        <span
                            class="col-6 d-flex flex-column mt-3 mb-2">{{ employeeDetailsData.description ? employeeDetailsData.description : '-' }}</span>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <agm-map [latitude]="employeeDetailsData.latitude" [longitude]="employeeDetailsData.longitude">
                    <agm-marker [latitude]="employeeDetailsData.latitude" [longitude]="employeeDetailsData.longitude">
                    </agm-marker>
                </agm-map>
            </div>
        </div>
    </div>

    <br>

    <div class="container" *ngIf="!isLoading">
        <div class="row">
            <div class="col-lg-6 text-left" *ngIf="!isLoading">
                <a routerLink="/employeeList" skipLocationChange (click)="backToEmployeeList()"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>Back to Employee List</a>
            </div>

            <div class="col-lg-6 text-right" *ngIf="!isLoading">
                <a routerLink="/" skipLocationChange (click)="backToEmployeeForm()"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>Back to Employee Form</a>
            </div>
        </div>
    </div>
</div>